{% extends 'base.html.twig' %}
{% block title %}BileMo API{% endblock %}

{% block body %}
<section class="banner bg-1" id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-8 align-self-center">
				<!-- Contents -->
				<div class="content-block">
					<h1>BileMo</h1>
					<h5>Premium mobile phone provider.
						<br/><br/>
						All the documentation of our REST API for our customers and partners.</h5>
				</div>
			</div>
			<div class="col-md-4">
				<!-- App Image -->
				<div class="image-block">
					<img class="img-fluid phone-thumb" src="images/phones/iphone-banner.png" alt="iphone-banner">
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}