body {
    font-family: "Open Sans",
        sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans",
        sans-serif;
    color: #000;
    font-weight: 400;
    line-height: 1;
}

h1 {
    font-size: 60px;
}

.text-blue {
    color: #288690;
}

.bg-blue {
    background: #288690;
}

section.models {
    display: none;
}

.navbar-nav >li {
    text-transform: uppercase;
    text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    background-color: #50e3c2;
    color: #000;
}
pre {
    overflow: hidden;
}