<footer class="bg-blue mt-4 p-3 text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mr-auto">

        <div class="copyright">
          <p>@2022 | Powered by Siaka MANSALY
            <br>
          </p>
        </div>
      </div>
      <div class="col-lg-6 text-lg-right">
        <div class="footer-logo">
          <img src="images/logo.png" alt="footer-logo">
        </div>
      </div>
    </div>
  </div>
</footer>