<footer class="bg-blue mt-4 p-3 text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mr-auto">

        <div class="copyright">
          <p>@2022 | Powered by Siaka MANSALY
            <br>
          </p>
        </div>
      </div>
      <div class="col-lg-6 text-lg-right">
        <div class="footer-logo">
          <img src="images/logo.png" alt="footer-logo">
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>