<!-- Navigation-->
<nav class="navbar main-nav fixed-top navbar-expand-lg large">
    <div class="container">
        <a class="navbar-brand" href="./"><img src="images/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-menu text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link scrollTo" href="./#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollTo" href="./api">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollTo" href="/login">Sign in</a>
          </li>
        </ul>
        </div>
    </div>
  </nav>